/* diferentes tratamientos */
.tratamientos {
    padding: 0 0 100px 0;
    text-align: center;
    

}
.tratamientos h2  h3{
    margin-bottom: 45px;
}
.tratamientos-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.tratamiento {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: rgb(249, 201, 229)
}

.tratamiento img {
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 250px;
}
.tratamiento-texto {
    padding: 10px 10px 30px 10px;
}
.tratamiento-texto h3 {
    font-size: 18px;
    color: black;
    margin-bottom: 25px;
}
.btn {
    padding: 5px 25px;
}
 .tratamientos .tratamientos-content .tratamiento:hover {
    letter-spacing: 1px;
}
