/* Inicio Quien Somos */
.about {
    padding: 100px 0;
    display: flex;   
    
}
.about-img {
    flex-basis: 80%;
    display: flex;
}
.about-img img {
    width: 270px;
    border-radius: 20px;
    margin-right: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.about-txt {
    flex-basis: 70%;

}

h2 {
    font-size: 40px;
    line-height: 1;
    color: #ff47a7;
    margin: 25px;
}
.about-txt p {
    color: black;
}

.btn-1 {
    display: inline-block;
    padding: 13px 35px;
    
}